*.jou
*.log
*.str
*.opt
*.pb
*.xml
*.html
*.txt
*.xpr
*.xpr.bak
*.backup
*.webtalk
*.wcfg
*.wdb
*.ltx
*.bit
*.bin
*.elf
*.mem
*.mcs
*.prm
*.svf
*.vcd
*.vvp

.cache/
.hw/
.ip_user_files/
.sim/
.srcs/
.xgui/
.gen/
.work/
.runs/
.restore/
.temp/
.backup/

webtalk/

.DS_Store
Thumbs.db

*.swp
*.swo
*.lock
